<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/create-account.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Welcome</title>

</head>
<body>
    <div id="login-box">
        <div class="title">
            <h1>Create an Account</h1>
        </div>
        <form class="validate-form" id="login-form" action="/newuser" method="post">
            <div class="wrap-input validate-input m-b-16" data-validate = "Name is required">
                <input class="form-item topinput" type="text" name="firstName" id="firstname" placeholder="First Name">
            </div>

            <div class="wrap-input validate-input m-b-16" data-validate = "Name is required">
                <input  class="form-item" type="text" name="lastName" id="lastname" placeholder="Last Name">
            </div>

            <div class="wrap-input validate-input m-b-16" data-validate = "Invalid Email">
                <input class="form-item " type="text" name="email" id="email" placeholder="Email">
            </div>
            <div class="wrap-input validate-input m-b-16" data-validate = "Username is required">
                <input class="form-item" type="text" name="username" id="username" placeholder="User Name" data-validate = "Name is required">
            </div>
            <div class="wrap-input validate-input m-b-16" data-validate = "A password is required">
                <input  class="form-item" type="password" name="password" id="password" placeholder="Enter a password">
            </div>
            <input id="newacctbutton" class="form-item submitbtn" type="submit" value="Create Account">
        </form>
    </div>

    <script src="/public/anime.min.js"></script>
    <script src="/public/create-account.js"></script>
    <script src="/public/validate.js"></script>
</body>
</html>